/* Declaration de la Classe Grand-titre */
.grand-titre{
	background-color: #0600FF; 
	color: #FFFFFF;
	padding: 10px 5px;
	font-size: 24px;
}

/* Id liens utiles */
#liens-utiles{
	margin: 20px 0 0 0;
}


/* declaration de l'Id Description-Ville */
h2#description-ville{
margin:10px 0;
text-transform: uppercase;
color: rgb(111, 168, 27);
}

/* Forçage CSS */
#description-ville{
	margin: 40px 0 !important;
	border: 2px solid rgb(111, 168, 27);

	border-left-width: 10px; 
	border-right-width: 10px; 
	}

body{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	background: url("../images/Back.jpg") no-repeat fixed center center;
/*
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: 100% 100%;
	*/
}

/* Classe conainer */
	.container{
		width: 400px;
		margin: 0 auto; /*centrer une div*/
		
	}

/* banniere de la page*/
#banniere
{
	width: 100%;
	border-radius: 5px;
}

a{
	text-decoration: none;
	font-weight: bold;

}

#list-services{
list-style: none;
}

#bouttons{ 
	margin: 20px 0 0 0;
}
